@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

.container {
    display: flex;
    width: 192rem;
    height: 108rem;
    font-family: 'Nunito', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4.8rem;
    margin-left: 4.8rem;
}

.formSide {
    width: 99.7rem;
}

.leftSide {
    width: 92.3rem;
}

.leftSideImg {
    width: 92.3rem;
    height: 108rem;
}






#email,
#phone,
#name,
#date {
    background-color: #ffffff;
    width: 74.3rem;
    height: 3rem;
    border: none;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0.8rem 1.6rem;
    position: relative;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
}

.nextBackBtn {
    width: 74.3rem;
    display: flex;
    justify-content: space-between;
}

.backBtn {
    width: 4.7rem;
    height: 2.5rem;
    border: 1px black;
}

.monitor {
    width: 25rem;
    display: flex;
    align-items: flex-start;
    gap: 17.4rem;
    margin-left: 9rem;
}

.headingfirst {
    height: 8.4rem;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 3rem;
    margin-left: 4.8rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(185, 180, 196, 0.3);
}


.secondMonitor {
    display: flex;
    gap: 10rem;
    align-items: flex-start;
    margin-left: 4.8rem;
    margin-bottom: 10rem;
}

.bigHeading {
    font-size: 3.2rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-left: 4.8rem;
    margin-bottom: 1rem;

}

.subHeading {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #95939a;
    margin-left: 4.8rem;
    margin-bottom: 9.3rem;
}

.progressNumber1 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.progressNumber2 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.content {
    display: flex;
    gap: 1rem;
    margin-left: 8rem;
    margin-top: 3rem;
}

.header2 {
    position: absolute;
    width: 92.3rem;
    height: 8.4rem;
    background-color: #7025fb;

}

.header1 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
}

.firstLine {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.errorMessagename {
    position: absolute;
    top: 33rem;
    left: 146rem;

    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 20rem;
    height: 8.7rem;
    background-color: #ffffff;
    justify-content: space-around;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
}

.errorMessageemail {
    position: absolute;
    top: 33rem;
    left: 146rem;

    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 20rem;
    height: 8.7rem;
    background-color: #ffffff;
    justify-content: space-around;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
}

.errorMessagenumber {
    position: absolute;
    top: 33rem;
    left: 146rem;

    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 20rem;
    height: 8.7rem;
    background-color: #ffffff;
    justify-content: space-around;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
}


.close {
    width: 1rem;
    height: 1rem;
    margin-left: 5rem;
}

.invalid {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #dc3545;

}

.errorinfo {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

#error {
    margin-left: -63rem;
    visibility: visible;
}

.form-control {
    background-color: #ffffff;

}

.success {
    position: absolute;
    top: 45.6rem;
    left: 168rem;
    width: 2rem;
    height: 2rem;
}

.success2 {
    position: absolute;
    top: 53.6rem;
    left: 168rem;
    width: 2rem;
    height: 2rem;
}

.success3 {
    position: absolute;
    top: 62rem;
    left: 168rem;
    width: 2rem;
    height: 2rem;
}

.success4 {
    position: absolute;
    top: 70rem;
    left: 168rem;
    width: 2rem;
    height: 2rem;
}

.successmark {
    visibility: hidden;
}

.error {
    position: absolute;
    top: 45rem;
    left: 104rem;
    width: 1rem;
    height: 1rem;
}

.error2 {
    position: absolute;
    top: 52.5rem;
    left: 110rem;
    width: 1rem;
    height: 1rem;
}

.error3 {
    position: absolute;
    top: 60.5rem;
    left: 111rem;
    width: 1rem;
    height: 1rem;
}

.error4 {
    position: absolute;
    top: 68rem;
    left: 109rem;
    width: 1rem;
    height: 1rem;
}

.back {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border: solid black 0.1rem;
    width: 6rem;
    border-radius: 1.5rem;

}

.next {
    display: flex;
    gap: 1rem;
    width: 10rem;
    height: 3rem;
    border: solid black 0.1rem;
    background-color: #000000;
}

.nextnext {
    color: #ffffff;

    font-size: 2rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}

.nextBtn {
    color: #ffffff;
}

.headerImg {
    width: 2rem;
    height: 2rem;
}

.suc {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.startBtn {
    display: flex;
    width: 12.8rem;
    height: 5.3rem;
    position: absolute;
    left: 101rem;
    top: 60.1rem;
    background-color: #212529;
    border-radius: 0.8rem;
    align-items: center;
    justify-content: center;

}

.btnText {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    width: 107rem;
    height: 2.7rem;
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
    margin-left: 2.4rem;
    text-transform: capitalize;

}

.arrowBtn {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 2rem;
    margin-top: 0.4rem;

}