@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

.container {
    display: flex;
    width: 192rem;
    height: 108rem;
    font-family: 'Nunito', sans-serif;
}

.header2 {
    position: absolute;
    width: 92.3rem;
    height: 8.4rem;
    background-color: #7025fb;
}

.content {
    display: flex;
    gap: 1rem;
    margin-left: 8rem;
    margin-top: 3rem;
}

.header1 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
}

.headerImg {
    width: 2rem;
    height: 2rem;
}

.monitor {
    width: 25rem;
    display: flex;
    align-items: flex-start;
    gap: 17.4rem;
    margin-left: 9rem;
}

.headingfirst {
    height: 8.4rem;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 3rem;
    margin-left: 4.8rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(185, 180, 196, 0.3);
}

.secondMonitor {
    display: flex;
    gap: 10rem;
    align-items: flex-start;
    margin-left: 4.8rem;
    margin-bottom: 10rem;
}

.progressNumber1 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.progressNumber2 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.leftside {
    width: 92.3rem;
}

.formSide {
    width: 99.9rem;
}

.suc {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.bigHeading {
    font-size: 3.2rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-left: 4.8rem;
    margin-bottom: 1rem;

}

.subHeading {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #95939a;
    margin-left: 4.8rem;
    margin-bottom: 9.3rem;
}

.levelAndCharacter {
    display: flex;
    gap: 5rem;
    margin-left: 4.5rem;
    margin-bottom: 8rem;
}

.lev {
    position: relative;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.char {
    position: relative;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.level {
    display: flex;
    gap: 20rem;
    width: 39.2rem;
    height: 4rem;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    align-items: center;

}

.character {
    display: flex;
    gap: 20rem;
    width: 39.2rem;
    height: 4rem;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    align-items: center;
}

.accordeon {
    width: 1.2rem;
    height: 1rem;
}

.medical1 {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    left: 111rem;
}

.medical2 {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    left: 158.3rem;

}

.radioBtn {
    margin-left: 4.5rem;
}

.radioBtnQuestion {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2rem;
}

.radioBtnChoises {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 18rem;
}

.no {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

.yes {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.medical3 {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    left: 138rem;


}

.back {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border: solid black 0.1rem;
    width: 6rem;
    border-radius: 1.5rem;
}

.next {
    display: flex;
    gap: 1rem;
    width: 10rem;
    height: 3rem;
    border: solid black 0.1rem;
    background-color: #000000;
}

.nextBackBtn {
    width: 74.3rem;
    display: flex;
    justify-content: space-between;
}

.accordion {
    visibility: hidden;
    display: flex;
    gap: 1.5rem;
    position: absolute;
    flex-direction: column;
    width: 39.2rem;
    height: 19.9rem;
    background-color: #ffffff;
    border: 1px solid rgba(185, 180, 196, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    top: 50rem;
    left: 96.5rem;
}


.intermediate,
.professional,
.beginner {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2rem;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    border: none;
    align-self: flex-start;
    margin-top: 2.2rem;


}

button.beginner:hover {
    font-weight: 600;
}

button.intermediate:hover {
    font-weight: 600;
}

button.professional:hover {
    font-weight: 600;
}